/* Added the fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');


/* CSS Varriables */
:root {
    --nb-primary-color: #FFD23F;
    --nb-secondary-color: #000000;
    --nb-accent-color: #ffffff;
    --nb-text-white-color: #ffffff;
    --nb-text-black-color: #000000;
    --nb-bg-off-white: #f8f8f8;
    --nb-primary-font: 'Montserrat', sans-serif;
    --nb-secondery-font: 'Lato', sans-serif;
    --nb-border: 3px solid #ffffff;
}

/* General CSS */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--nb-primary-font);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.4rem;
}

body {
    font-family: var(--nb-secondery-font);
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6rem;
}

a {
    font-family: var(--nb-secondery-font);
    text-decoration: none;
    color: var(--nb-accent-color);
    letter-spacing: 0.5px;
}

hr {
    width: 13%;
    border: 3px solid var(--nb-primary-color);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Utility Classes */

.nb-container {
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.nb-row {
    width: 80%;
    height: 100%;
}

.nb-h1-heading {
    font-size: 4.5rem;
}

.nb-h2-heading {
    font-size: 3.5rem;
}

.nb-h3-heading {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.nb-h4-heading {
    font-size: 1.5rem;
}

.nb-primary-btn {
    font-family: var(--nb-primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff !important;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
}

.nb-primary-btn:hover {
    background-color: var(--nb-accent-color);
    color: #000000 !important;
    padding: 8px 20px;
}

.nb-secondary-btn {
    font-family: var(--nb-primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--nb-primary-color);
    color: var(--nb-text-black-color) !important;
    padding: 8px 30px;
    transition: all 0.3s ease-in-out;
}

.nb-secondary-btn:hover {
    background-color: var(--nb-accent-color);
    color: #000000 !important;
    padding: 8px 30px;
}

/* Navigation Styles */

.nb-navbar-container {
    background-color: var(--nb-primary-color);
}

.nb-navbar-container nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    box-shadow: #000000 1px -18px 48px 0px;
}

#nb-navbar-logo img {
    width: 80px;
}

.nb-navbar-container nav .nb-navmenu-container .navigation {
    display: flex;
}

.nb-navbar-container nav .nb-navmenu-container .navigation .nav-item {
    list-style-type: none;
}

.nb-navbar-container nav .nb-navmenu-container .navigation .nav-item a {
    font-family: var(--nb-primary-font);
    font-weight: 700;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    color: var(--nb-text-black-color);
    margin-right: 35px;
    transition: all 0.3s ease-in-out;
}

.nb-navbar-container nav .nb-navmenu-container .navigation .nav-item a:hover {
    color: var(--nb-text-white-color);
}

.nb-mob-navbar {
    display: none;
}

.mob-navigation {
    display: none;
}

/* Hero section styles */

.nb-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nb-hero-container::before {
    content: "";
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.53) 100%), url("assets/hero-bg.jpg") no-repeat top / cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nb-hero-row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 450px;
}

.nb-hero-content {
    width: 60%;
}

.nb-hero-div {
    width: 100%;
    height: 100%;
}

.nb-hero-content .nb-hero-heading {
    line-height: 4rem;
    color: var(--nb-text-white-color);
}

.nb-hero-text {
    color: var(--nb-text-white-color);
    margin: 30px 0px;
}

/* Featured Section */
.nb-featured-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    position: relative;
}

.nb-featured-container .nb-featured-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    position: absolute;
    top: -70px;
    height: 210%;
    background-color: var(--nb-secondary-color);
    padding: 50px;
    border: 4px solid var(--nb-primary-color);
    z-index: 3;
    box-shadow: #000000 0px 5px 35px -13px;
}

.nb-featured-container .nb-featured-row .nb-featured-post .nb-featured-post-img img {
    max-width: 100%;
    height: auto;
}

.nb-featured-container .nb-featured-row .nb-featured-post .nb-featured-post-content {
    color: #ffffff;
}

.nb-featured-container .nb-featured-row .nb-featured-post .nb-featured-post-content a {
    color: var(--nb-primary-color);
}

.nb-featured-container .nb-featured-row .nb-featured-post .nb-featured-post-content p {
    font-size: 16px;
}

.nb-featured-container .nb-featured-row .nb-featured-post {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 1rem;
}

/* Blog Section Styles */
#nb-blog-section {
    padding-bottom: 30px;
}

.nb-blog-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.nb-blog-container .nb-blog-section-title {
    padding: 70px 0px;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
}


.nb-blog-container .nb-blog-section-title hr {
    margin-top: 30px;
}

.nb-blog-container .nb-blog-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
}

.nb-blogpost-item {
    display: grid;
}

.nb-blogpost-item>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.nb-blogpost-item {
    aspect-ratio: 1 / 1.5;
}

.nb-blogpost-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.nb-blogpost-content {
    background-color: #fff;
    align-self: end;
    padding: 1rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.nb-blogpost-content a {
    color: var(--nb-text-black-color);
    transition: all 0.2s ease-in-out;
}

.nb-blogpost-content a:hover {
    color: var(--nb-primary-color);
}

.nb-blog-span-tall {
    grid-row: span 2;
    grid-column: span 2;
}

.nb-blog-span-tall img {
    aspect-ratio: 1 / 1.25;
}

.nb-blog-span-wide {
    grid-column: span 2;
    grid-row: span 2;
}

.nb-blog-span-wide img {
    aspect-ratio: 1 / 1.25;
}



.nb-blog-readmore-btn {
    display: inline-block;
    margin-top: 15px !important;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.nb-blog-readmore-btn:hover {
    background-color: var(--nb-primary-color);
}


/* Categories Sidebar and Popular Posts Section */
#nb-categories-posts-section {
    padding: 30px 0px;
    background-color: var(--nb-bg-off-white);
}
.nb-categories-posts-container {
    display: grid;
    justify-items: center;
}
.nb-categories-posts-container .nb-categories-posts-row {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2rem;
}
.nb-categories-posts-container .nb-categories-posts-row .nb-categories {
    width: 100%;
    height: 100%;
    background-color: var(--nb-secondary-color);
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
    padding: 40px;
}

.nb-categories-posts-container .nb-categories-posts-row .nb-categories h3 {
    color: var(--nb-text-white-color);
}

.nb-categories-posts-container .nb-categories-posts-row .nb-categories hr {
    margin-top: 10px;
    width: 40%;
}
.nb-categories-posts-container .nb-categories-posts-row .nb-categories .nb-category-list {
    list-style: circle;
}

.nb-categories-posts-container .nb-categories-posts-row .nb-categories .nb-category-list .nb-category-list-item {
    line-height: 3.5rem;
    color: var(--nb-primary-color);
}

.nb-categories-posts-container .nb-categories-posts-row .nb-categories .nb-category-list .nb-category-list-item:hover {
    color: var(--nb-text-white-color);
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts {
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    background-color: #ffffff;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}
.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts  .nb-popular-blog-section-title {
    text-align: center;
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts  .nb-popular-blog-section-title hr {
    margin: 10px auto;
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts .nb-popular-posts-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 30px;
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts .nb-popular-blog {
    padding: 20px;
    box-shadow:  0 .25rem 1rem rgb(0 0 0 / .1);
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts .nb-popular-blog .nb-popular-blog-content {
    color: var(--nb-text-black-color);
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts .nb-popular-blog .nb-popular-blog-content h3 {
   margin-bottom: 10px;
   transition: all 0.3s ease-in-out;
}

.nb-categories-posts-container .nb-categories-posts-row .nb-popular-posts .nb-popular-blog .nb-popular-blog-content h3:hover {
   color: var(--nb-primary-color);
}


/* mobile styles */
@media only screen and (max-width: 767px) {

    /* Utility Classes */
    .nb-h1-heading {
        font-size: 3.5rem;
    }

    .nb-h2-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .nb-h3-heading {
        font-size: 1.5rem;
    }

    .nb-h4-heading {
        font-size: 1.2rem;
        line-height: 1.6rem !important;
    }

    body {
        font-size: 1rem;
    }

    .nb-primary-btn {
        background-color: #000000;
        color: #ffffff !important;
        padding: 8px 20px;
        transition: all 0.3s ease-in-out;
    }

    .nb-primary-btn:hover {
        background-color: var(--nb-accent-color);
        color: #000000 !important;
        padding: 8px 20px;
    }

    .nb-secondary-btn {
        font-size: 18px;
        padding: 8px 15px !important;
        width: 170px;
        margin: 0 auto;

    }

    /* Navbar Styles  */

    .nb-mob-navbar {
        display: block;
        position: relative;
    }

    .nb-mob-navbar .mob-navigation {
        z-index: 999999;
    }

    .nb-navmenu-container .navigation {
        display: none !important;
    }

    .nb-navbar-container #nb-navbar-logo img {
        width: 50px;
    }

    .nb-mob-navbar #nb-mob-nav-toggle {
        display: none;
    }

    .nb-navbar-container nav {
        gap: 10rem;
    }

    .nb-mob-navbar #nb-mob-nav-toggle:checked~#nb-nav-open-btn {
        display: none;
    }

    .nb-mob-navbar #nb-mob-nav-toggle:checked~#nb-nav-close-btn {
        display: block;
    }

    #nb-nav-close-btn {
        display: none;
    }

    .nb-mob-navbar .mob-navigation {
        display: block;
        background-color: #000000;
        position: absolute;
        top: 30px;
        width: 45vw;
        height: 280px;
        padding: 20px 30px;
        border: 4px solid #ffffff;
        transform: translateX(250px);
        transition: all 0.4s ease-in-out;
    }

    .nb-mob-navbar #nb-mob-nav-toggle:checked~.mob-navigation {
        transform: translateX(-115px) !important;
    }

    .nb-mob-navbar .mob-navigation .nav-item {
        list-style-type: none;
    }

    .nb-mob-navbar .mob-navigation .nav-item a {
        font-size: 16px;
        font-weight: 700;
        color: var(--nb-text-white-color);
        line-height: 2.3rem;
    }

    .nb-mob-navbar .mob-navigation .nav-item .nb-navbar-btn {
        background-color: var(--nb-primary-color);
        padding: 2px 10px;
        color: var(--nb-text-black-color) !important;
    }

    /* Hero section styles */

    .nb-container {
        grid-template-columns: 1fr;
        padding: 50px 0px 100px 0px;
    }

    .nb-row {
        grid-template-columns: 1fr;
    }

    .nb-hero-content {
        width: 100%;
    }

    .nb-hero-div {
        display: none;
    }

    .nb-hero-content .nb-hero-heading {
        line-height: 3.5rem;
        text-align: center;
        color: var(--nb-text-white-color);
    }

    .nb-hero-text {
        text-align: center;
        color: var(--nb-text-white-color);
        margin: 20px 0px;
    }


    .nb-hero-cta-btn {
        display: block;
        text-align: center;
    }

    /* Featured Section */

    .nb-featured-container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        position: static;
    }

    .nb-featured-container .nb-featured-row {
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        position: static !important;
        height: 100%;
        background-color: var(--nb-secondary-color);
        padding: 50px;
        border: 4px solid var(--nb-primary-color);
        z-index: 3;
        box-shadow: #000000 0px 5px 35px -13px;
    }

    .nb-featured-container .nb-featured-row .nb-featured-post .nb-featured-post-content {
        text-align: center;
        color: #ffffff;
        padding-top: 10px;
    }

    .nb-featured-container .nb-featured-row .nb-featured-post {
        display: block;
    }

    /* Blog post section styles */

    .nb-blog-container .nb-blog-row {
        gap: 40px;
    }

    .nb-blogpost-item {
        display: block;
    }

    .nb-blog-container .nb-blog-section-title {
        padding: 30px 0px;
        text-align: center;
        display: grid;
        justify-items: center;
        align-items: center;
    }


    .nb-blog-container .nb-blog-section-title hr {
        margin-top: 30px;
    }


    .nb-blog-container .nb-blog-row {
        grid-template-columns: 1fr;

    }

    .nb-blog-span-tall {
        grid-row: span 1;
        grid-column: span 1;
    }

    .nb-blog-span-wide {
        grid-column: span 1;
        grid-row: span 1;
    }

    .nb-blog-readmore-btn {
        display: inline-block;
        margin-top: 15px !important;
        letter-spacing: 1px;
        font-size: 1.1rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Utility Class */

    .nb-primary-btn {
        background-color: #000000;
        color: #ffffff !important;
        padding: 8px 20px;
        transition: all 0.3s ease-in-out;
    }

    .nb-primary-btn:hover {
        background-color: var(--nb-accent-color);
        color: #000000 !important;
        padding: 8px 20px;
    }

    .nb-secondary-btn {
        font-size: 18px;
        padding: 8px 15px !important;
        width: 200px;
        margin: 0 auto;

    }


    /* Navigation Styles */

    .nb-mob-navbar {
        display: block;
        position: relative;
    }

    .nb-mob-navbar .mob-navigation {
        z-index: 999999;
    }

    .nb-navmenu-container .navigation {
        display: none !important;
    }

    .nb-navbar-container #nb-navbar-logo img {
        width: 70px;
    }

    .nb-mob-navbar #nb-mob-nav-toggle {
        display: none;
    }

    .nb-navbar-container nav {
        gap: 30rem;
    }

    .nb-mob-navbar #nb-mob-nav-toggle:checked~#nb-nav-open-btn {
        display: none;
    }

    .nb-mob-navbar #nb-mob-nav-toggle:checked~#nb-nav-close-btn {
        display: block;
    }

    .nb-mob-navbar i {
        font-size: 1.5rem;
    }

    #nb-nav-close-btn {
        display: none;
    }

    .nb-mob-navbar .mob-navigation {
        display: block;
        background-color: #000000;
        position: absolute;
        top: 40px;
        width: 35vw;
        height: 420px;
        padding: 40px 50px;
        border: 4px solid #ffffff;
        transform: translateX(150px);
        transition: all 0.4s ease-in-out;
    }

    .nb-mob-navbar #nb-mob-nav-toggle:checked~.mob-navigation {
        transform: translateX(-200px) !important;
    }

    .nb-mob-navbar .mob-navigation .nav-item {
        list-style-type: none;
    }

    .nb-mob-navbar .mob-navigation .nav-item a {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--nb-text-white-color);
        line-height: 3.3rem;
    }

    .nb-mob-navbar .mob-navigation .nav-item .nb-navbar-btn {
        background-color: var(--nb-primary-color);
        padding: 2px 10px;
        color: var(--nb-text-black-color) !important;
    }

    /* Hero section styles */

    .nb-container {
        grid-template-columns: 1fr;
    }

    .nb-row {
        grid-template-columns: 1fr;
    }

    .nb-hero-content {
        width: 100%;
    }

    .nb-hero-div {
        display: none;
    }

    .nb-hero-content .nb-hero-heading {
        line-height: 4rem;
        text-align: center;
        color: var(--nb-text-white-color);
    }

    .nb-hero-text {
        text-align: center;
        color: var(--nb-text-white-color);
        margin: 20px 0px;
    }

    .nb-hero-cta-btn {
        display: block;
        text-align: center;
    }

    /* Featured Section */

    .nb-featured-container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        position: static;
    }

    .nb-featured-container .nb-featured-row {
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        position: static !important;
        height: 100%;
        background-color: var(--nb-secondary-color);
        padding: 50px;
        border: 4px solid var(--nb-primary-color);
        z-index: 3;
        box-shadow: #000000 0px 5px 35px -13px;
    }

    .nb-featured-container .nb-featured-row .nb-featured-post .nb-featured-post-content {
        padding-top: 20px;
        text-align: center;
        color: #ffffff;
    }

    .nb-featured-container .nb-featured-row .nb-featured-post {
        display: block;
    }

    /* Blog post section styles */

    .nb-blog-container .nb-blog-row {
        gap: 20px;
    }

    .nb-blogpost-item {
        display: block;
    }

    .nb-blog-container .nb-blog-section-title {
        padding: 30px 0px;
        text-align: center;
        display: grid;
        justify-items: center;
        align-items: center;
    }


    .nb-blog-container .nb-blog-section-title hr {
        margin-top: 30px;
    }


    .nb-blog-container .nb-blog-row {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    }

    .nb-blog-span-tall {
        grid-row: span 2;
        grid-column: span 2;
    }

    .nb-blog-span-wide {
        grid-column: span 2;
        grid-row: span 2;
    }

    .nb-blog-readmore-btn {
        display: inline-block;
        margin-top: 15px !important;
        letter-spacing: 1px;
        font-size: 1.1rem;
    }

}